.mod-tab {
    border: 1px solid #ccc;
    margin-top: 30px;
}
.mod-tab * {
    box-sizing: border-box;
}
.mod-tab ul,
.mod-tab li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mod-tab .tabs:after {
    content: '';
    height: 0;
    display: table;
    clear: both;
}
.mod-tab .tabs li {
    float: left;
    width: 33.3%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}
.mod-tab .tabs li:last-child {
    border-right: none;
}
.mod-tab .tabs .active {
    background: #eee;
}
.mod-tab .wrap {
    position: relative;
    height: 180px;
    overflow: hidden;
}
.mod-tab .panels {
    position: absolute;
    width: 300%;
}
.clearfix:after{
    display: block;
    content: '';
    clear:both;
}
.mod-tab .panels>li {
    height: 180px;
    padding: 20px;
    float:left;
    width: 33.33%;
}
.mod-tab .panels>li:nth-child(1) {
    background-color: red;
}
.mod-tab .panels>li:nth-child(2) {
    background-color: green;
}
.mod-tab .panels>li:nth-child(3) {
    background-color: blue;
}
